$bg_color1: #3B3F50;
$bg_color2: #922C53;
$bg_color3: #E3AC00;
$bg_color4: #21232E;

$text_color1: #FFFFFF;
$text_color2: #FFFFFF;
$text_color3: #FFFFFF;

$background_image: url("../img/m-h-night.jpg")